
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Oregano";
  src: local("Oregano"),
    url("./assets/font/Oregano-Regular.ttf") format("truetype");
  font-weight: normal;
}

.Oregano {
  font-family: "Oregano" !important;
}